<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: -64.4},
          zoom: 6
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3qhxMALGvHAgH-cGj4x6WidjOeqqRbjw&callback=initMap"
    async defer></script>
  </body>
</html>

<script type="text/javascript">
    //console.log("PRUEBA")
    var sock = io("wss://integracion-tarea-3.herokuapp.com", {path: "/flights"});
    var puertos = [];
    var puertos_map = {};
    var aviones = [];
    var lineas_rectas = [];
    var todos_mis_marker = [];

    sock.emit("AIRPORTS");
    sock.on("AIRPORTS", function(data){

      for (var key in data){
        puertos.push(key);
        //console.log("PINTEANDO LA KEY", key)
        var image = 'https://maps.gstatic.com/mapfiles/ms2/micons/blue.png';
        var beachMarker = new google.maps.Marker({
          position: {lat: data[key]["airport_position"][0], lng: data[key]["airport_position"][1]},
          map: map,
          icon: image
        });
        //Agregamos la infowindow
        var content_string = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h3 id="firstHeading" class="firstHeading">'+ data[key]["name"]+'</h3>'+
            '<div id="bodyContent">'+
            '<p><b>'+data[key]["country"]+'</b>' + data[key]["city"] + '</p>'+
            '<p>'+ data[key]["country_code"]+ ', '+ data[key]["airport_code"] +
            '</p>'+
            '<p>'+ data[key]["airport_position"][0] + ','+data[key]["airport_position"][1]+'</p>'
            '</div>'+
            '</div>';
        beachMarker.infowindow = new google.maps.InfoWindow({
              content: content_string,
              maxWidth: 200
        });
        todos_mis_marker.push(beachMarker);
        puertos_map[key] = beachMarker;
      };


      // console.log(puertos_map)
      // console.log(puertos)

    });

    var vuelo_marker = [];
    sock.emit("FLIGHTS")
    sock.on("FLIGHTS", function(data){
      aviones = data;
      //console.log(aviones);
      aviones.forEach(function(vuelo){
        // lineas_rectas = [{lat: vuelo["origin"]["airport_position"][0], lng:vuelo["origin"]["airport_position"][1]},
        //                 {lat: vuelo["destination"]["airport_position"][0], lng:vuelo["destination"]["airport_position"][1]}];
        lineas_rectas.push({lat: vuelo["origin"]["airport_position"][0], lng:vuelo["origin"]["airport_position"][1]});
        lineas_rectas.push({lat: vuelo["destination"]["airport_position"][0], lng:vuelo["destination"]["airport_position"][1]});
        //console.log(vuelo["origin"]["airport_position"][0], vuelo["origin"]["airport_position"][1]);
        var flightPath = new google.maps.Polyline({
              path: lineas_rectas,
              geodesic: true,
              strokeColor: '#FF0000',
              strokeOpacity: 1.0,
              strokeWeight: 3
            });
        flightPath.setMap(map);
        lineas_rectas = [];

        //Creao EL Marker del Avion
        var image = 'https://maps.gstatic.com/mapfiles/ms2/micons/plane.png';
        var plane = new google.maps.Marker({
          position: {lat: vuelo["origin"]["airport_position"][0], lng:vuelo["origin"]["airport_position"][1]},
          map: map,
          icon: image

        });
        todos_mis_marker.push(plane);
        vuelo_marker.push({code: vuelo["code"], marker: plane, pos: [], data: vuelo});

        //Agreggar la window al avion
        var content_string = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h3 id="firstHeading" class="firstHeading">'+ vuelo["code"] + ', '+ vuelo["airline"]+'</h3>'+
            '<div id="bodyContent">'+
            '<p><b>'+vuelo["plane"]+ ', '+'</b>' + "Asientos: " +vuelo["seats"] + '</p>'+
            '<p>'+ "Origen: " +vuelo["origin"]["airport_code"]+ ', Destino: '+ vuelo["destination"]["airport_code"] +
            '</p>'+
            '<p>'+ vuelo["origin"]["airport_position"][0] + ','+vuelo["origin"]["airport_position"][1]+'</p>'
            '</div>'+
            '</div>';
        plane.infowindow = new google.maps.InfoWindow({
                  content: content_string,
                  maxWidth: 200
            });
        todos_mis_marker.push(plane);

      });

      //console.log(vuelo_marker);
      todos_mis_marker.forEach(function(marker){
        //console.log(marker, marker.infowindow)
        marker.addListener('click', function(){
          //console.log(marker.open)
          todos_mis_marker.forEach(function(mark){
            mark.infowindow.close();
          });
          marker.infowindow.open(map, marker);
          //console.log(marker.open)
        });
      });
    });




    sock.on('POSITION', function(data){
        //console.log(data);

        vuelo_marker.forEach(function(vuelo){
          if (vuelo["code"] == data["code"]){
            //Reviso si la Pos ya estaba
            vuelo["marker"].setPosition({lat: data["position"][0], lng: data["position"][1]});
            var esta_en_arreglo = 0;
            vuelo["pos"].forEach(function(posi){
              if (posi[0]==data["position"][0] && posi[1]==data["position"][1]){
                esta_en_arreglo = 1;
              }
            });
            if (esta_en_arreglo ==0){
              vuelo["pos"].push([data["position"][0], data["position"][1]]);
              //Editar el contenido de la window del vuelo por la nueva coordenada
              var content_string = '<div id="content">'+
                  '<div id="siteNotice">'+
                  '</div>'+
                  '<h3 id="firstHeading" class="firstHeading">'+ vuelo["data"]["code"] + ', '+ vuelo["data"]["airline"]+'</h3>'+
                  '<div id="bodyContent">'+
                  '<p><b>'+vuelo["data"]["plane"]+ ', '+'</b>' + "Asientos: " +vuelo["data"]["seats"] + '</p>'+
                  '<p>'+ "Origen: " +vuelo["data"]["origin"]["airport_code"]+ ', Destino: '+ vuelo["data"]["destination"]["airport_code"] +
                  '</p>'+
                  '<p>'+ data["position"][0]+ ','+data["position"][1]+'</p>'
                  '</div>'+
                  '</div>';
              vuelo["marker"].infowindow.setContent(content_string);

            }
            //console.log(vuelo["pos"]);

            //Hay que crear el [{},{}] para las polyline
            var arreglo_coordenadas= [];
            vuelo["pos"].forEach(function(arr){
              arreglo_coordenadas.push({lat: arr[0], lng: arr[1]});
            });
            var flightPath = new google.maps.Polyline({
                  path: arreglo_coordenadas,
                  geodesic: true,
                  strokeColor: '#58ff33',
                  strokeOpacity: 1.0,
                  strokeWeight: 4
                });
            flightPath.setMap(map);
          }



        });
    });

    //Agregar funcion que cada cierto tiempo se ejecute para ver los nuevos vuelos si es que nacen o cambian los existentes

</script>
