<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3qhxMALGvHAgH-cGj4x6WidjOeqqRbjw&callback=initMap"
    async defer></script>
  </body>
</html>

<script type="text/javascript">
    console.log("PRUEBA")
    var sock = io("wss://integracion-tarea-3.herokuapp.com", {path: "/flights"});
    sock.emit("AIRPORTS");
    sock.on("AIRPORTS", function(data){
      console.log(data);

    });
    sock.emit("FLIGHTS")
    sock.on("FLIGHTS", function(data){
      console.log(data);

    });


    // sock.on('POSITION', function(data){
    //   console.log(data);
    // });

</script>
