<!DOCTYPE html>
<html>
  <head>
    <title>T3</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script src= "http://code.jquery.com/jquery-latest.min.js"></script>
    <script src = "/socket.io/socket.io.js"></script> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
